<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Testing Site</title>
</head>
<body>
    <p>Site Name <input type = "text" name = "Site" /></p>
    <p>Street Address <input type = "text" name = "Address" /></p>
    <p>City <input type = "text" name = "City" /></p>
    <p>
        <label>State:</label>
        <select>
	<option name="State" value="AL">Alabama</option>
	<option name="State" value="AK">Alaska</option>
	<option name="State" value="AZ">Arizona</option>
        </select>
    </p>
    <p>Zip Code<input type = "text" name = "Zip" /></p>
    <p>
        <label>Location:</label>
        <select>
	        <option name="Location" value="east">east</option>
	        <option name="Location" value="west">west</option>
        </select>
    </p>

    <p>Site Tester:(should autimatically retrieve from the database)
        <select>
	        <option name="Tester" value="Tester1">Tester1</option>
	        <option name="Tester" value="Tester2">Tester2</option>
        </select>


    </p>
<p><input type = "submit" value = "Create" /></p>

</body>
</html>