<!DOCTYPE html>
<html lang="en">
<head>
  <title>GT Covid Testing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <h1>Register</h1>
  <p> </p>
  <form action="/registuser" method = "POST">
    <p>Username <input type = "text" name = "Username" required/></p>
    <p>Password <input type = "text" name = "Password" required/></p>
    <p>Confirm Password <input type = "text" name = "ConfirmPwd" required/></p>
    <p>First Name <input type = "text" name = "FName" required/></p>
    <p>Last Name <input type = "text" name = "LName" required/></p>
    <p>Email <input type = "text" name = "Email" required/></p>

    <div>
      <label >UserType</label>
      <label class="form-control">

        <!--Toggle the display of student and employee-->
        <input type="button" onclick="student_display()" name="Type"  id="student" value="student">
        <input type="button" onclick="employee_display()" name="Type"  id="employee" value="employee">

      </label>
      <div class="studentInfo" style="visibility: hidden" >

        <label for="Location">Location:</label>
        <select name="Location" id="Location">
          <option value="">--Select A Location--</option>
          <option value="East Campus">East Campus</option>
          <option value="West Campus">West Campus</option>
        </select>

        <label for="HouseType">Housing Typle:</label>
        <select name="HouseType" id="HouseType">
          <option value="">--Select A Housing Type--</option>
          <option value="Student Housing">Student Housing</option>
          <option value="Greek Housing">Greek Housing</option>
          <option value="Off-Campus House">Off-Campus House</option>
          <option value="Off-Campus Apartments">Off-Campus Apartments</option>
        </select>

      </div>

      <div class="employeeInfo" style="visibility: hidden" >
        <div id = "Role">
          <input type="checkbox" name="employType" value="labTech" > Lab-Technician
          <input type="checkbox" name="employType" value="siteTester" > Site Tester
        </div>

        <p>Phone(for test) :</label><input type="number" name = "Phone" id="Phone" size="10"/> </p>
      </div>

    </div>

    <p><input type = "submit" value = "Register" /></p>
  </form>
  <p><a href="/">Back</a></p>
</div>









<script type="text/javascript" src="regform.js"></script>



</body>
</html>
