<!DOCTYPE html>
<html lang="en">
<head>
  <title>GT Covid Testing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
  <h1>Register</h1>
  <p> </p>
  <form action="/registuser" method = "POST">
    <p>Username <input type = "text" name = "Username" required/></p>
    <p>Password <input type = "text" name = "Password" required/></p>
    <p>Confirm Password <input type = "text" name = "ConfirmPwd" required/></p>
    <p>First Name <input type = "text" name = "FName" required/></p>
    <p>Last Name <input type = "text" name = "LName" required/></p>
    <p>Email <input type = "text" name = "Email" required/></p>

    <div>
      <label >UserType</label>
      <label class="form-control">

        <!--Toggle the display of student and employee-->
        <input type="button" onclick="student_display()" name="Type"  id="student" value="student">
        <input type="button" onclick="employee_display()" name="Type"  id="employee" value="employee">

      </label>
      <div class="studentInfo" style="visibility: hidden">
        <p><input type="radio" name="Location" value="east" > EastCampus </p>
        <p><input type="radio" name="Location" value="west" > WestCampus </p>
        <p>HouseType<input type="text" name="HouseType" id = "HouseType"> </p>
      </div>

      <div class="employeeInfo" style="visibility: hidden">
        <input type="checkbox" name="employType" value="labTech" > Lab-Technician
        <input type="checkbox" name="employType" value="siteTester" > Site Tester
        <p>Phone(for test) :</label><input type="number" name = "Phone" id="Phone" size="10"/> </p>
      </div>

    </div>

    <p><input type = "submit" value = "Register" /></p>
  </form>
  <p><a href="/">Back</a></p>
</div>









<script type="text/javascript">

  function student_display(){
    //toggle with the visibility
     var stuList = document.querySelectorAll('.studentInfo');
     var empList = document.querySelectorAll('.employeeInfo');
     for (var x = 0; x < stuList.length; x++ ) {
       stuList[x].style.visibility="visible";
       stuList[x].setAttribute("required","true");
     }

    for (var y = 0; y < empList.length; y++ ) {
      empList[y].style.visibility="hidden";
    }

    //set the input value
    document.getElementsByName("Type").values()[0] = "student" ;
    //clear the employee value
    var jobs = document.getElementsByName("employType")
    for (var i=0;i<jobs.length;i++) {
      jobs[i].checked = false;

    }
    document.getElementById("Phone").value = "";





  }

  function employee_display(){
    var stuList = document.querySelectorAll('.studentInfo');
    var empList = document.querySelectorAll('.employeeInfo');
    for (var x = 0; x < stuList.length; x++ ) {
      stuList[x].style.visibility="hidden";
    }

    for (var x = 0; x < empList.length; x++ ) {
      empList[x].style.visibility="visible";
      empList[x].setAttribute("required","true");
    }

    document.getElementsByName("Type").values()[0] = "employee" ;

    //clear the student value:
    var locs = document.getElementsByName("Location")
    for (var i=0;i<locs.length;i++) {
      locs[i].checked = false;
    }
    document.getElementById("HouseType").value = "";





  }
</script>



</body>
</html>
