<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->

    <title>Register</title>
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#exit">EXIT</a><li>
            </ul>
        </nav>
    </header>
    <h1>Register</h1>
    <br>
    <p>Directions: To register as a student or an employee, select the appropriate button.</p>
    <hr>
   
        <div class="registerContainer">
            
            <button class="registerButton">Student Login</button>
            <br>
            <button class="registerButton" type = "submit" value = "Register">Employee Login</button>
            
        </div>
    

</body>
</html>