<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->

    <title>Login</title>
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#exit">EXIT</a><li>
            </ul>
        </nav>
    </header>
    <h1>Login</h1>
    <br>
    <p>Directions: Enter your username and password.</p>
    <hr>
   
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card">
                    <form id="LoginForm" name="loginForm" method="post">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td style="height:50px"><label>Username:</label></td>
                                    <td colspan="2"><input type = "text" name = "Username" size="30"/></td>
                                    <td></td>
                                </tr>
                        
                                <tr>
                                    <td style="height:50px"><label>Password:</label></td>
                                    <td colspan="2"><input type = "text" name = "Password" size="30"/></td>
                                    <td></td>
                                </tr>
        
                                <tr>
                                    <td colspan="2" style="height:50px"><button>Login</button></td>
                                    <td></td>
                                    <td><button type = "submit" value = "Create">Register</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    

</body>
</html>