<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reassign Tester</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="module" src="index.js"></script>
</head>
<body>

<div class="container">
  <h1>Reassign Tester</h1>

<form class="form-horizontal">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Assigned Sites</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>***</td>
              <td>***</td>
              <td>
                <div id="root"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>***</td>
              <td>***</td>
              <td>
                <div id="root2"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>***</td>
              <td>***</td>
              <td>
                <div id="root3"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <p></p>
        <a class="btn btn-primary" href="#" role="button">Update</a>
        <p></p>
        <p><a href="/">Back</a></p>
      </form>
</div>

</body>
</html>